@font-face {
    font-family: 'procionoregular';
    src: url('fonts/prociono-regular-webfont.eot');
    src: url('fonts/prociono-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/prociono-regular-webfont.woff') format('woff'),
         url('fonts/prociono-regular-webfont.ttf') format('truetype'),
         url('fonts/prociono-regular-webfont.svg#procionoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Junction';
    src: url('fonts/Junction-webfont.eot');
    src: url('fonts/Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Junction-webfont.woff') format('woff'),
         url('fonts/Junction-webfont.ttf') format('truetype'),
         url('fonts/Junction-webfont.svg#junction') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BodonitownRegular';
    src: url('fonts/Bodonitown-webfont.eot');
    src: url('fonts/Bodonitown-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Bodonitown-webfont.woff') format('woff'),
         url('fonts/Bodonitown-webfont.ttf') format('truetype'),
         url('fonts/Bodonitown-webfont.svg#BodonitownRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}